body {
    background-color: #dfd6cc;
}

h1, h2, h3{
    font-family: 'Playfair Display', serif;
}

p{
    font-family: 'Slabo 13px', serif;
}

.inicio{
    width:auto;
    height: 100vh;
}

.sobre{
}

.serviços{
}

.indicações{
}

.depoimentos{
}

.localização{
}

.agendamento{
}